* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding:0;
	background-color: #dbf1ee;
	font-family: 'Montserrat', sans-serif;
}

.header {
	text-align: center;
	color: #670067;
	padding-bottom: 20px;
}

.calendar {
	display: flex;
	justify-content: flex-end;
	justify-items: center;
	text-align: center;
	color: #4d004d;
}

#clock-container {
	margin-right: 20px;
}

.weather-card {
	background-color: rgba(255, 255, 255, .5);
}
.card-content {
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.city-name {
	color: #670067;
	margin: 0;
}

.btn-convert {
	margin: 10px 0;
}



