* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;	
}

.content {
	padding: 50px 0;
	background-image: url('weather2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
.main {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	
}


.header {
	text-align: center;
	color: #34494e;
	padding-bottom: 20px;
	margin-top: 0;
	width: 100%;
}

.calendar {
	display: flex;
	justify-content: flex-end;
	justify-items: center;
	text-align: center;
	color: #4d004d;
}

#clock-container {
	margin-right: 20px;
}

.weather-card {
	background-color: rgba(255, 255, 255, .5);
}
.card-content {
	
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.city-name {
	color: #670067;
	margin: 0;
}

.btn-convert {
	margin: 10px 0;
}



