* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;	
}

.content {
	background-image: url('../../img/weather2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}

.header {
	text-align: center;
	color: #f86262;
	padding-bottom: 20px;
	margin-top: 0;
	width: 100%;
	text-shadow: 1px 1px 1px black;
}

.calendar {
	display: flex;
	justify-content: flex-end;
	justify-items: center;
	text-align: center;
	color: #fd5454;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 1px;
}

#clock-container {
	margin-right: 20px;
}
.materialize-textarea {
	color: white;
}

.weather-card {
	background-color: rgba(255, 255, 255, .7);
}
.card-content {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.city-name {
	color: #fd5454;
	margin: 0;
}

.btn-convert {
	margin: 10px 0;
}

